$base-font-size: 18px;
$blue: #0074d9;
$navy: #001f3f;
$aqua: #7fdbff;

:root {
  --color-page-bg: #fff;
  --color-page-text: #2d373b;
  --color-link: #{$blue};
  --color-link-hover: #{$navy};
  --color-link-underline: #{rgba($blue, 0.33)};
  --color-link-underline-hover: #{rgba($navy, 0.33)};
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --letter-spacing: normal;

  @media screen and (prefers-color-scheme: dark) {
    --color-page-bg: #263238;
    --color-page-text: #e5eff5;
    --color-link: #{$aqua};
    --color-link-hover: #{$blue};
    --color-link-underline: #{rgba($aqua, 0.33)};
    --color-link-underline-hover: #{rgba($blue, 0.33)};
    --font-weight-normal: 300;
    --font-weight-bold: 600;
    --letter-spacing: 0.025em;
  }
}
